$bg: #f6f6f6;
$default: #8d8d8d;
$title: #29282d;
$accent: #fe3e57;
$gap: 30px;

%quicksand-400 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

%montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
} 

%montserrat-700 {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 700;
} 

%robotoSlab-400 {
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 400;
} 

%robotoSlab-700 {
  font-family: 'RobotoSlab', sans-serif;
  font-weight: 700;
}

%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}